ServerAliveInterval 30
TCPKeepAlive yes

Host hk1
    Hostname 212.71.249.216
    User aegir

Host hk2
    Hostname 178.79.180.94

Host spillsnakk
    Hostname prod-spillsnakk-001.helsekompetanse.no
    User root
