ServerAliveInterval 30
TCPKeepAlive yes

Host matilda
    Hostname matilda.fuzzy76.net
    User fuzzy76

Host bertha
    Hostname bertha.fuzzy76.net
    User fuzzy76

Host *.iktsenteret.c.bitbit.net
    AddressFamily inet

