Host *
    ServerAliveInterval 30
    ServerAliveCountMax 3
    SendEnv -LANG -LC_*
    AddKeysToAgent yes
    UseKeychain yes

# Private hosts

Host matilda
    HostName matilda.fuzzy76.net
    User fuzzy76

Host bertha
    HostName bertha.fuzzy76.net
    User fuzzy76

# KompetanseNorge hosts

Host havard-tuxburk
    User fuzzy76

Host !*.c.bitbit.net datakollektiv01-* utdanning01-* bratteli
    HostName %h.iktsenteret.c.bitbit.net
    AddressFamily inet
    User havard

Host *.c.bitbit.net
    AddressFamily inet
    User havard

Host havard-tuxburk
    HostName havard-tuxburk
    User havardp
