[core]
	excludesfile = /Users/fuzzy76/.gitignore_global
	editor = nano
[push]
	default = simple
[user]
	name = Håvard Pedersen
	email = fuzzy76@fuzzy76.net
[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	prune = remote prune origin
[pull]
	rebase = true
[fetch]
	prune = true
[status]
  submoduleSummary = true
